@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/


a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
