@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

/* トップページのコード */
.light{
    position: relative;
}
.star img{
    position: absolute;
    top: 0;
    opacity: 0.4;
    z-index: 1;
}

.blackribbon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.blackribbon img{
    display: block;
    width: 100%;
    position: relative;
    z-index: 100;
}


.toppage .ballerina{
    display: flex;
    justify-content: center;
    margin-top: -185px;
}

.ballerina img{
    width: 500px;
    height: 799px;
    position: relative;
    z-index: 1000;
}


.family{
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 0.6em;
    flex-direction: row;
}

.scroll-indicator{
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 0;
    top: 544px;
}

.scroll-indicator .line{
    width: 2px;
    height: 236px;
    background-color: #000000;
}

.scroll-indicator .text{
    font-size: 30px;
    transform: rotate(90deg);
    white-space: nowrap;
    display: inline-block;
}


/* オートクチュールのコード */
.logo{
    text-align: center;
}
.logo img{
    width: 364px;
    height: 335px;
}

.hautecouture .pickup{
    text-align: center;
    font-size: 37px;
}
.hautecouture .minitext{
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}


/* アバウトミーのコード */
h2{
    text-align: center;
}
h2 p:nth-child(1){
    font-size: 66px;
}
h2 p:nth-child(2){
    font-size: 23px;
    margin-top: -70px;
}

.matomari{
    background-image: url(../image/lase.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 200px;
    box-sizing: border-box;
    position: relative;
    width: 1285px;
    height: 922px;
}

.me{
    width: 302px;
    height: auto;
}
.metext{
    margin-left: auto;
    text-align: left;
    position: absolute;
    flex-direction: column;
}
.metext p:nth-child(1){
    font-size: 35px;
    margin-bottom: 24px;
}
.metext{
    font-size: 18px;
}


/* ワークスのコード */
h2{
    text-align: center;
}
h2 p:nth-child(1){
    font-size: 66px;
}
h2 p:nth-child(2){
    font-size: 23px;
    margin-top: -70px;
}
.merryribbon{
    position: relative;
}
.merrygoround{
    width: 762px;
    margin: 0 auto;
}

.miniblackribbon{
    position: absolute;
    width: 357px;
    left: 50%;
    transform: translateX(-50%);
}
.sakuhin{
    display: flex;
    align-items: center;
}
.humkoukyu1{
    width: 443px;
}
.icebanner{
    width: 443px;
}