@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

/* トップページのコード */
.light{
    position: relative;
}
.star img{
    position: absolute;
    top: 0;
    opacity: 0.4;
    z-index: 1;
}

.blackribbon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.blackribbon img{
    display: block;
    width: 100%;
    position: relative;
    z-index: 100;
}


.toppage .ballerina{
    display: flex;
    justify-content: center;
    margin-top: -185px;
}

.ballerina img{
    width: 500px;
    height: 799px;
    position: relative;
    z-index: 1000;
}


.family{
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 0.6em;
    flex-direction: row;
}

.scroll-indicator{
    position: absolute;
    right: 90px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 0;
    top: 544px;
}

.scroll-indicator .line{
    width: 2px;
    height: 236px;
    background-color: #000000;
}

.scroll-indicator .text{
    font-size: 30px;
    transform: rotate(90deg);
    white-space: nowrap;
    display: inline-block;
}


/* オートクチュールのコード */
.logo{
    text-align: center;
}
.logo img{
    width: 364px;
    height: 335px;
}

.hautecouture .pickup{
    text-align: center;
    font-size: 37px;
}
.hautecouture .minitext{
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}


/* アバウトミーのコード */
h2{
    text-align: center;
}
h2 p:nth-child(1){
    font-size: 66px;
}
h2 p:nth-child(2){
    font-size: 23px;
    margin-top: -70px;
}

.matomari{
    background-image: url(../image/lase.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
    max-width: 1285px;
    /* height: 922px; */
    aspect-ratio: 1285 / 922;
    justify-content: center;
}

.me{
    width: 302px;
    height: auto;
    /* margin-left: 109px; */
}
.metext{
    margin-left: auto;
    text-align: left;
    position: absolute;
    flex-direction: column;
}
.metext div p:nth-child(1){
    font-size: 35px;
    margin-bottom: 24px;
}
.metext{
    font-size: 18px;
}

.seiza{
    mix-blend-mode: multiply;
    width: 452px;
    height: 345px;
    margin-top: -150px;
    text-align: right;
    display: block;

}
.seiza2{
    mix-blend-mode: multiply;
    width: 452px;
    height: 345px;
}

.button{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 24.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
}

/* ワークスのコード */
h2{
    text-align: center;
}
h2 p:nth-child(1){
    font-size: 66px;
}
h2 p:nth-child(2){
    font-size: 23px;
    margin-top: -70px;
}
.merryribbon{
    position: relative;
}
.merrygoround{
    width: 762px;
    margin: 0 auto;
    display: block;
}

.miniblackribbon{
    position: absolute;
    top: 0;
    width: 357px;
    left: 50%;
    transform: translateX(-50%);
}
.sakuhin{
    display: flex;
    align-items: center;
}
.humkoukyu1{
    width: 443px;
}
.icebanner{
    width: 443px;
}


body{
	margin:0;
	padding:0;
}
h1{
	font-size:16px;
	font-weight:normal;
	line-height:1.6em;
	text-align:center;
	padding:15px 0;
}
#idWrap{
	width:900px;
	margin:0 auto;
	text-align:left;
}
#idCarousel {
	position: relative;
	width:900px;
	height:500px;
	overflow:scroll;
}
#idTitle{
	font-weight:bold;
	padding-bottom:7px;
}
.left{
	display:none;
	width:40px;
	height:40px;
	position:absolute;
	bottom:0;
	left:20px;
	font-weight:bold;
	font-size:30px;
	cursor:pointer;
}
.right{
	display:none;
	width:40px;
	height:40px;
	position:absolute;
	bottom:0;
	right:20px;
	font-weight:bold;
	font-size:30px;
	cursor:pointer;
}
.left:hover,
.right:hover{
	color:#666666;
}


/* コンタクトページのコード */

