@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

/* 表テーマ */
/* body .light{
    background-color: #f8f8f8;
    color:#463f35;
} */
/* 裏テーマ */
/* body .dark{
    background-color: #000000;
    color: #ffffff;
} */

img{
    max-width: 100%;
}

/* トップページのコード */
.light{
    position: relative;
}
.star img{
    position: absolute;
    top: 0;
    opacity: 0.4;
    z-index: 1;
}

.blackribbon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.blackribbon img{
    display: block;
    width: 100%;
    position: relative;
    z-index: 100;
}


.toppage .ballerina{
    display: flex;
    justify-content: center;
    margin-top: -185px;
}

.ballerina img{
    width: 500px;
    height: 799px;
    position: relative;
    z-index: 1000;
}


.family{
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 0.6em;
    flex-direction: row;
}

.scroll-indicator{
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 0;
    margin-top: 220px;
}

.scroll-indicator .line{
    width: 2px;
    height: 236px;
    background-color: #000000;
}

.scroll-indicator .text{
    font-size: 30px;
    transform: rotate(90deg);
    white-space: nowrap;
    display: inline-block;
}


/* オートクチュールのコード */
.logo{
    text-align: center;
}
.logo img{
    width: 364px;
    height: 335px;
}

.hautecouture .pickup{
    text-align: center;
    font-size: 37px;
}
.hautecouture .minitext{
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}


/* アバウトミーのコード */
h2{
    text-align: center;
}
h2 p:nth-child(1){
    font-size: 66px;
}
h2 p:nth-child(2){
    font-size: 23px;
    margin-top: -70px;
}

.matomari{
    background-image: url(../image/lase.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
    max-width: 1135px;
    /* height: 922px; */
    aspect-ratio: 1135 / 582;
    justify-content: space-between;
    margin: 0 auto;
}

.me{
    max-width: 302px;
    width: 27%;
    height: auto;
}

.metext p:nth-child(1){
    font-size: 35px;
    margin-bottom: 24px;
    text-align: center;
    /* width: 100%; */
}
.metext p:nth-child(2){
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.seiza{
    mix-blend-mode: multiply;
    margin-top: -150px;
    text-align: right;
    display: block;
}
.seiza img{
    width: 452px;
}

.seiza2{
    mix-blend-mode: multiply;
    width: 452px;
    height: 345px;
}

.button{
    width: 252px;
    height: 74px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 36.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
}

/* ワークスのコード */
h2{
    text-align: center;
}
h2 p:nth-child(1){
    font-size: 66px;
}
h2 p:nth-child(2){
    font-size: 23px;
    margin-top: -70px;
}
.merryribbon{
    position: relative;
}
.merrygoround{
    width: 762px;
    margin: 0 auto;
    display: block;
}

.miniblackribbon{
    position: absolute;
    top: 0;
    width: 357px;
    left: 50%;
    transform: translateX(-50%);
}
.sakuhin{
    display: flex;
    align-items: center;
}
.humkoukyu1{
    width: 443px;
}
.icebanner{
    width: 443px;
}


body{
	margin:0;
	padding:0;
}
h1{
	font-size:16px;
	font-weight:normal;
	line-height:1.6em;
	text-align:center;
	padding:15px 0;
}
 .swiper-container img{
    filter: grayscale(90%);
 }


/* コンタクトページのコード */
.blackribbonbox{
    text-align: center;
    margin-top: -500px;
}
.blackribbonbox img{
    width: 957px;
}
.pale1{
    text-align: left;
}
.pale1 img{
    width: 490px;
}
.pale2{
    text-align: right;
    margin-top: -400px;
    margin-right: 25px;
}
.pale2 img{
    width: 490px;
}

/* ラストページのコード */
.cloud img{
    width: 100%;
}
.staring img{
    width: 100%;
    /* transform: rotate(330deg); */
}
.staring{
    margin-top: -250px;
}
.lasttext{
    text-align: center;
    margin-top: -400px;
}

.sankaku{
    width: 60px;
    height: 24px;
    margin: 0 auto;
}









/* ワークスのアニメーションのコード */

.works > div {
    position: relative;
    overflow-x: hidden;
}

.swiper-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    box-shadow: 0 0 20px #00000036;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next) {
    opacity: 0;
}

.swiper-slide-prev, 
.swiper-slide-next {
    opacity: 0.3;
}

.swiper-slide-active {
    transition: 0.3s all;
    opacity: 1;
    margin-top: 700px;
}



/* 裏テーマ */
:root{
    --bg-color: #020002;
    --bg-color: white;
}
body{
    background-color: #f8f8f8;
    color:#463f35;
}

body.dark-mode{
    --bg-color: #020002;
    --bg-color: white;
}



























.sp-frame,
.sp-kirakira,
.sp-pearl,
.hamburger,
.sp-logo {
    display: none;
}

@media screen and (max-width: 767px) {
    .logo{
        display: none;
    }
    .sp-stage{
        /* display: block; */
        position: relative;
        width: min(100vw, 469px);
        aspect-ratio: 469 / 725;
        margin: 0 auto;
    }

    .sp-frame,
    .sp-kirakira,
    .sp-pearl,
    .sp-logo,
    .hamburger{
        display: block;
    }

  body {
    overflow-x: hidden;
  }

  /* ===== 舞台 ===== */
  .sp-stage {
    position: relative;
    max-width: 469px;
    margin: 0 auto;
  }

  /* ===== フレーム ===== */
  .sp-frame {
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  .sp-frame img {
    width: 100%;
    height: 100%;
  }

  /* ===== キラキラ ===== */
  .sp-kirakira {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 2;
  }

  /* ===== パール ===== */
  .sp-pearl {
    position: absolute;
    bottom: 18%;
    left: 6%;
    width: 38%;
    z-index: 2;
  }

  /* ===== 黒リボン ===== */
  .blackribbon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .blackribbon img {
    width: 375px;
  }

  /* ===== ロゴ ===== */
  /* .logo {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 42%;
  } */

  

  /* ===== バレリーナ ===== */
  .ballerina {
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 55%;
  }

  .ballerina img {
    width: 214px;
    height: 342px;
  }
  /* .sp-logo {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    width: 42%;
    z-index: 3;
  }

  .sp-logo img {
    width: 100%;
    height: auto;
    display: block;
  }
} */
 

  /* PC用キラキラ */
    .star {
        display: none !important;
    }

    /* about works contact */
    .family {
        display: none !important;
    }

    /* scroll 表示 */
    .scroll-indicator {
        display: none !important;
    }
}




