@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

body.dark{
    background-color: #f8f8f8;
    animation: image_anime 1s ease;
    animation-fill-mode: forwards;
}

@keyframes image_anime{
    100%{
        background-color: #020202;
    }
}

/* body.dark{
    color: #463f35;
    animation: image_anime 1s ease;
    animation-fill-mode: forwards;
}

@keyframes image_anime{
    100%{
        color: #f8f8f8;
    }
} */

img{
    max-width: 100%;
    vertical-align: bottom;
}

/* トップページのコード */
.light{
    position: relative;
}
.star img{
    position: absolute;
    top: 0;
    opacity: 0.4;
    z-index: 1;
}

.blackribbon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.blackribbon img{
    display: block;
    width: 100%;
    position: relative;
    z-index: 100;
}


.toppage .ballerina{
    display: flex;
    justify-content: center;
}

.ballerina img{
    width: 500px;
    height: 799px;
    position: relative;
    z-index: 1000;
}


.family{
    display: flex;
    justify-content: center;
    font-size: 30px;
    gap: 0.6em;
    flex-direction: row;
}

.scroll-indicator{
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin: 0;
    margin-top: 220px;
}

.scroll-indicator .line{
    width: 2px;
    height: 236px;
    background-color: #000000;
}

.scroll-indicator .text{
    font-size: 30px;
    transform: rotate(90deg);
    white-space: nowrap;
    display: inline-block;
}


/* オートクチュールのコード */
.logo{
    text-align: center;
}
.logo img{
    width: 364px;
    height: 335px;
}

.hautecouture .pickup{
    text-align: center;
    font-size: 37px;
}
.hautecouture .minitext{
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}


/* アバウトミーのコード */
h2{
    text-align: center;
}
h2 .abouttitle{
    font-size: 66px;
    margin-bottom: 0;
}
h2 .abouttext{
    font-size: 23px;
    margin-top: 0;
}



.matomari{
    background-image: url(../image/lase.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
    position: relative;
    max-width: 1135px;
    /* height: 922px; */
    aspect-ratio: 1135 / 582;
    justify-content: space-between;
    margin: 0 auto;
}

.me{
    max-width: 302px;
    width: 27%;
    height: auto;
}

.metext p:nth-child(1){
    font-size: 35px;
    margin-bottom: 24px;
    text-align: center;
    /* width: 100%; */
}
.metext p:nth-child(2){
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.seiza{
    mix-blend-mode: multiply;
    margin-top: -150px;
    text-align: right;
    display: block;
}
.seiza img{
    width: 452px;
}

.seiza2{
    mix-blend-mode: multiply;
    width: 452px;
    height: 345px;
}

.button{
    width: 252px;
    height: 74px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 36.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
}

/* ワークスのコード */
h2{
    text-align: center;
}
h2 .workstitle{
    font-size: 66px;
}
h2 .workstext{
    font-size: 23px;
    margin-top: -70px;
}
.merryribbon{
    position: relative;
}
.merrygoround{
    width: 762px;
    margin: 0 auto;
    display: block;
}

.miniblackribbon{
    position: absolute;
    top: 0;
    max-width: 357px;
    width: 57%;
    left: 50%;
    transform: translateX(-50%);
}
.sakuhin{
    display: flex;
    align-items: center;
}
.humkoukyu1{
    width: 443px;
}
.icebanner{
    width: 443px;
}


body{
	margin:0;
	padding:0;
}
h1{
	font-size:16px;
	font-weight:normal;
	line-height:1.6em;
	text-align:center;
	padding:15px 0;
}
 .swiper-container img{
    filter: grayscale(90%);
 }


/* コンタクトページのコード */
.blackribbonbox{
    text-align: center;
}


.present{
    position: relative;
    max-width: 957px;
    width: 80%;
    margin: 0 auto;
}
.pale1{
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 490px;
    width: 35%;
}

.pale2{
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    rotate: 180deg;
    max-width: 490px;
    width: 35%;
}


.contacttitle{
    font-size: 66px;
    margin-bottom: -2%;
}
.contacttext{
    font-size: 23px;
}

/* ラストページのコード */
.page-top{
    position: relative;
}

.cloud img{
    width: 100%;
}
.staring img{
    width: 100%;
    /* transform: rotate(330deg); */
}
.staring{
    position: absolute;
    bottom: 0;

}
.lasttext{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;

}

.pagetop img{
    max-width: 213px;
    width: 85%;
    margin-bottom: 13%;
}
.pagetop{
    text-align: center;
}








/* ワークスのアニメーションのコード */

.works > div {
    position: relative;
    overflow-x: hidden;
}

.swiper-container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
    box-shadow: 0 0 20px #00000036;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.swiper-slide:not(.swiper-slide-prev):not(.swiper-slide-active):not(.swiper-slide-next) {
    opacity: 0;
}

.swiper-slide-prev, 
.swiper-slide-next {
    opacity: 0.3;
}

.swiper-slide-active {
    transition: 0.3s all;
    opacity: 1;
    margin-top: 700px;
}



/* 裏テーマ */
/* ライトモードの時はダークモード映さない */
.blackribbon img.ribbon-dark,
.ballerina img.ballerina-dark,
.hautecouture img.logo1-dark,
.hautecouture img.logo2-dark,
.star img.kiratoppage-dark,
.hautecouture p.pickup-dark,
.hautecouture p.minitext-dark,
.merryribbon img.merrygoround-dark,
.blackribbonbox img.whiteribbonbox-dark,
.lasttext img.pagetop-dark,
.staring img.hoshi-dark,
.huroku img.kiramerry-dark,
.huroku img.snow-dark,
.logokira img.kiralogoabout1-dark,
.aboutkira img.kiralogoabout2-dark{
    display: none;
}
/* ボディにダークがつくとブラック要素は表示させる */
body.dark .blackribbon img.ribbon-dark,
body.dark .ballerina img.ballerina-dark,
body.dark .logo img.logo1-dark,
body.dark .logo img.logo2-dark,
body.dark .star img.kiratoppage-dark,
body.dark .hautecouture p.pickup-dark,
body.dark .hautecouture p.minitext-dark,
body.dark .merryribbon img.merrygoround-dark,
body.dark .blackribbonbox img.whiteribbonbox-dark,
body.dark .lasttext img.pagetop-dark,
body.dark .staring img.hoshi-dark,
body.dark .huroku img.kiramerry-dark,
body.dark .huroku img.show-dark,
body.dark .logokira img.kiralogoabout1-dark,
body.dark .aboutkira img.kiralogoabout2-dark{
    display: block;
}
/* その時ライト要素は表示させない */
body.dark .blackribbon img.ribbon-light,
body.dark .ballerina img.ballerina-light,
body.dark .logo img.logo-light,
body.dark .star img.movingstar-light,
body.dark .hautecouture p.pickup-light,
body.dark .hautecouture p.minitext-light,
body.dark .merryribbon img.merrygoround-light,
body.dark .merryribbon img.miniblackribbon-light,
body.dark .blackribbonbox img.blackribbonbox-light,
body.dark .lasttext img.pagetop-light,
body.dark .staring img.hoshi-light,
body.dark .seiza img.star1-light,
body.dark .seiza2 img.star2-light{
    display: none;
}


body.dark .blackribbon img.ribbon-dark{
    z-index: 1500;
    max-width: 1440px;
    width: 100%;
    margin-top: -1%;
}
body.dark .star img.kiratoppage-dark{
    z-index: 1300;
}

body.dark .ballerina img.ballerina-dark{
    max-width: 1440px;
    width: 100%;
    position: relative;
    top: -250px;
    z-index: 1000;
}

body.dark .scroll-indicator{
    color: #f8f8f8;
    border-color: #f8f8f8;
    top: 29%;
    z-index: 1300;
}
body.dark .logo{
    display: flex;
    position: relative;
}
body.dark .logo img.logo1-dark{
    max-width: 579px;
    width: 80%;
    position: absolute;
    left: 0;

}
body.dark .logo img.logo2-dark{
    max-width: 712px;
    width: 80%;
    position: absolute;
    right: 0;
}


body.dark .hautecouture p.pickup-dark{
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    z-index: 50;

}
body.dark .hautecouture p.minitext-dark{
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; */
    z-index: 50;

}
body.dark .logokira img.kiralogoabout1-dark{
     z-index: 10;
}
body.dark .aboutkira img.kiralogoabout2-dark{
    z-index: 40;
    position: absolute;

}
.aboutme{
    z-index: 50;
    position: relative;
    top: 0;
}
.works{
    position: relative;
}
body.dark .merryribbon img.merrygoround-dark{
    position: absolute;
    top: 50%;
}
body.dark .huroku img.kiramerry-dark,
body.dark .huroku img.show-dark{
    position: absolute;
}


.cloud img{
    z-index: 100;
}
body.dark .staring img.hoshi-dark{
    position: absolute;
    z-index: 50;
}













.sp-frame,
.sp-kirakira,
.sp-pearl,
.hamburger,
.sp-logo,
.br-sp,
.sp-twinspale{
    display: none;
}

@media screen and (max-width: 767px) {
    .logo{
        display: none;
    }
    .sp-stage{
        /* display: block; */
        position: relative;
        width: min(100vw, 469px);
        aspect-ratio: 469 / 725;
        margin: 0 auto;
    }

    .sp-frame,
    .sp-kirakira,
    .sp-pearl,
    .sp-logo,
    .hamburger,
    .sp-twinspale{
        display: block;
    }

  body {
    overflow-x: hidden;
  }

  /* ===== 舞台 ===== */
  .sp-stage {
    position: relative;
    max-width: 469px;
    margin: 0 auto;
  }

  /* ===== フレーム ===== */
  .sp-frame {
    inset: 0;
    z-index: 1;
  }

  .sp-frame img {
    width: 100%;

  }

  /* ===== キラキラ ===== */
  .sp-kirakira {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    z-index: 2;
  }

  /* ===== パール ===== */
  .sp-pearl {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    z-index: 2;
    transform: translate(50%, 50%);
    rotate: 180deg;
  }

  /* ===== 黒リボン ===== */
  .blackribbon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  .blackribbon img {
    width: 100%;
  }

  /* ===== ロゴ ===== */
  .sp-logo{
    width: 35%;
    margin: 0 auto;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);

  }

  /* ===== バレリーナ ===== */
  .ballerina {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 55%;
  }

  .ballerina img {
    width: 100%;
    height: auto;
  }
.hamburger {
    width: 12%;
    position: absolute;
    top: 3%;
    right: 5%;

}
 
.hautecouture .pickup{
    font-size: 20px;
    line-height: 2;
}
.br-sp{
    display: block;
}
.hautecouture .minitext{
    font-size: 13px;
    line-height: 2;
}
.aboutme{
    margin-top: 70px;
}
.aboutme .abouttitle{
    font-size: 25px;
}
.aboutme .abouttext{
    font-size: 10px;
}

.seiza img,
.seiza2 img{
    max-width: 158px;
}
.star-light1{
    width: 80%;
}

.matomari{
    background-image: url(../image/lase2.png);
    display: block;
}
.me{
    max-width: 200px;
    width: 80%;
    margin: 0 auto;
}

.sp-twinspale{
    max-width: 291px;
    width: 20%;
    margin: 0 auto;
}

.works .workstitle{
    font-size: 25px;
}
.works .workstext{
    font-size: 10px;
}
.swiper-container{
    display: none;
}

.present{
    max-width: 340px;
    width: 80%;
}
.pale1,
.pale2{
    max-width: 117px;
    width: 80%;
}

.pagetop img{
    width: 60%;
    margin-bottom: 4%;
}




  /* PC用キラキラ */
    .star {
        display: none !important;
    }

    /* about works contact */
    .family {
        display: none !important;
    }

    /* scroll 表示 */
    .scroll-indicator {
        display: none !important;
    }

    
}




