@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

img{
    max-width: 100%;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  max-width: 271px;
  width: 30%;
  
}
.logo img{
    left: 80px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.nav {
  display: flex;
  gap: 6ch; 
  position: absolute;
  top: 87px;
  right: 37px;
}

.nav a {
  font-size: 30px;
  text-decoration: none;
  color: #463f35;
}

/* タイトル */
.title {
  display: flex;
  align-items: center;
  gap: 470px;
  position: relative;
  top: 36px;
}

.arrow {
  font-size: 60px;
  position: absolute;
  left: 160px;
}

.web {
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 画像行 */
.image-row {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 120px;
  margin-top: 77px;
}


/* デバイス共通 */
.device {
  position: relative; 
}

.frame {
  display: block;
  width: 100%;
}

/* PC */
.pc {
  max-width: 1197px;
  margin: 0 auto;
}

.pc-screen {
  position: absolute;
  top: 40%;      /* ← 枠画像に合わせて調整 */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 60%;
  overflow-y: scroll;
}

.pc-screen img {
  width: 794px;
}


/* scroll 表示 */
.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 7%;
  top: 60%;
}

.scroll .line {
  width: 2px;
  height: 180px;
  background: #463f35;
  margin-bottom: 35px;
}

.scroll .text {
  transform: rotate(90deg);
  font-size: 14px;
}








/* 線の部分 */
.line-with-dots{
    max-width: 800px;
    width: 90%;
    height: 0;
    border-top: 1.16px solid #463f35;
    position: relative;
    margin: 40px auto;
}
.line-with-dots::before,
.line-with-dots::after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #463f35;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.line-with-dots::before{
    left: -3px;
}
.line-with-dots::after{
    right: -3px;
}

.vertical-line{
    width: 1px;
    height: 181px;
    background-color: #463f35;
}

.button{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 24.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
    
    margin-top: 74px;
}

.line-with-dots.sp{
    display: none;
}

.work-detail{
    text-align: center;
}

.plan{
    font-size: 45px;
}
.date{
    font-size: 20px;
    margin-top: 36px;
    font-weight: normal;
}
.info-wrap{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}
.info-text p{
    margin: 6px 0;
}
.info-text{
    text-align: left;
    font-weight: normal;
    width: 50%;
    margin-left: 20px;
}
.info-text2{
  display: flex;
}
.info-text:first-child{
    text-align: left;
    /* max-width: 370px; */
}
/* .info-text:last-child{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 200px;
} */
.note{
    font-size: 16px;
}

.overview-title{
    font-size: 25px;
    margin-top: 53px;
}
.overview-text{
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.7;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
}


.contact{
    text-align: center;
    margin-top: 83px;
    position: relative;
    margin-bottom: 40px;
}
.contacttext{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 767px) {
    .nav{
        display: none;
    }
    .navhum{
        display: block;
        width: 50px;
        margin-right: 20px;
    }

    .web{
        font-size: 25px;
    }
    .arrow{
        font-size: 25px;
        left: 17%;
        /* margin-left: -100px; */
    }

    .plan{
        font-size: 25px;
    }
    .date{
        font-size: 12px;
        margin-top: -10px;
    }

    .info-wrap{
        font-size: 15px;
    }
    .overview-title{
        font-size: 20px;
        margin: 10px 0;
    }
    .overview-text{
        font-size: 15px;
        width: 90%;
        margin: auto;
    }

   

    .info-wrap{
      flex-direction: column;
      text-align: center;
      width: 90%;
    }

.vertical-line{
    /* rotate: 90deg;
    height: 500px; */
    display: none;
}

.line-with-dots{
    max-width: 500px;
    width: 90%;
    margin: 20px auto;
}

.line-with-dots.sp{
    display: block;
}


.info-text{
    width: 83%;
    margin: 0 auto;
    flex-direction: column;
}

    .info-text2{
     width: 83%;
     margin: 0 auto;
    }
   .contact{
     max-width: 713px;
     width: 80%;
     margin: 10% auto;
     font-size: 13px;
    }


    /* 新しい線 */
    .vertical-lineSP{
        display: block;
    }

    .scroll .line{
      height: 98px;
    }
    .scroll .text{
      font-size: 12px;
    }
    .scroll{
      top: 25%;
      right: 1%;
    }

    .pc-screen {
     position: absolute;
     top: 41%;      /* ← 枠画像に合わせて調整 */
     left: 50%;
     transform: translate(-50%, -50%);
     width: 65%;
     height: 62%;
     overflow-y: scroll;
    }

    
   


}