@charset "utf-8";
html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;

}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 271px;
  height: 249px;
  
}
.logo img{
    left: 80px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.nav {
  display: flex;
  gap: 6ch; 
  position: absolute;
  top: 87px;
  right: 37px;
}

.nav a {
  font-size: 30px;
  text-decoration: none;
  color: #463f35;
}


/* バナーの部分 */
.text{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.text2{
    font-size: 40px;
    text-align: center;
    margin-top: 215px;
    margin-bottom: 50px;
}

.text3{
    font-size: 40px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 40px;
}

.banner{
    display: flex;
    text-align: center;
}

.banner > div{
    text-align: center;
}
.banner img{
    width: 90%;
    display: inline;
    object-fit: cover;
}

.button{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 24.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
}




/* WEBデザインの部分 */
.webdesign {
  justify-content: center;
  align-items: center;
}
.webdesign img{
    width: 85%;
    margin: 0 auto;
    display: block;
    margin-top: 44px;
}

.cafeWEB{
    align-items: center;
    width: 85%;
    margin: 0 auto;
    display: block;

}

/* コンタクトの部分 */
.blackribbonbox{
    text-align: center;
    margin-top: -500px;
}
.blackribbonbox img{
    width: 957px;
    max-width: 100%;
}
.pale1{
    text-align: left;
}
.pale1 img{
    width: 490px;
}
.pale2{
    text-align: right;
    margin-top: -400px;
    margin-right: 25px;
}
.pale2 img{
    width: 490px;
}
.text10 p:nth-child(1){
    font-size: 66px;
    text-align: center;
}
.text10 p:nth-child(2){
    font-size: 23px;
    text-align: center;
    margin-top: -65px;
}
.text10{
    margin-top: 150px;
}



/* スクリプトタグの部分 */
.slick-dots{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.slick-dots li{
    max-width: 152px;
    width: 10%;
    height: 3px;
    margin: 0;
}

.slick-dots li button{
    width: 100%;
    height: 3px;
    padding: 0;
}

.slick-dots li button:before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: #463f35;
    opacity: 0.6;
    margin-top: 33px;
}
.slick-dots li .slick-active button:before{
    background-color: #463f35;
    opacity: 1;
}

.navSP{
    display: none;
}


@media screen and (max-width: 767px){
    .text,
    .text2,
    .text3{
        font-size: 30px;
    }

    .text10 p:nth-child(1){
        font-size: 40px;
    }
    .text10 p:nth-child(2){
        font-size: 15px;
        margin-top: -35px;
    }

    .banner img{
        width: 85%;
    }

    .webdesign img{
        width: 85%;
    }

    /* .cafeWEB img{
        width: 95%;
    } */

    .nav{
        display: none;
    }
    .navSP img{
        display: block;
    }

    

    




    

   

   
}