@charset "utf-8";
html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;

}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 271px;
  height: 249px;
  
}
.logo img{
    left: 80px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.nav {
  display: flex;
  gap: 6ch; 
  position: absolute;
  top: 87px;
  right: 37px;
}

.nav a {
  font-size: 30px;
  text-decoration: none;
  color: #463f35;
}


/* バナーの部分 */
.text{
    font-size: 40px;
    text-align: center;
}

.banner{
    display: flex;
    text-align: center;
}

.banner > div{
    text-align: center;
}
.banner img{
    width: 90%;
    /* height: 621px; */
    display: inline;
    object-fit: cover;
}
.text{
    font-size: 40px;
    text-align: center;
}

.button{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 24.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
}




/* WEBデザインの部分 */
.webdesign {
  justify-content: center;
  align-items: center;
}
.webdesign img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.cafeWEB{
    align-items: center;
    width: 80%;
    margin: 0 auto;
    display: block;

}

/* コンタクトの部分 */
.blackribbonbox{
    text-align: center;
    margin-top: -500px;
}
.blackribbonbox img{
    width: 957px;
}
.pale1{
    text-align: left;
}
.pale1 img{
    width: 490px;
}
.pale2{
    text-align: right;
    margin-top: -400px;
    margin-right: 25px;
}
.pale2 img{
    width: 490px;
}






/* スクリプトタグの部分 */
.slick-dots{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.slick-dots li{
    width: 152px;
    height: 3px;
    margin: 0;
}

.slick-dots li button{
    width: 152px;
    height: 3px;
    padding: 0;
}

.slick-dots li button:before{
    content: '';
    width: 152px;
    height: 3px;
    background-color: #463f35;
    opacity: 0.6;
}
.slick-dots li .slick-active button:before{
    background-color: #463f35;
    opacity: 1;
}