@charset "utf-8";
html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;

}

/* ヘッダーの部分 */
.header{
    position: relative;
    height: 250px;
}
.logo img{
    position: absolute;
    top: 30px;
    left: 80px;
    width: 271px;
    height: 250px;
}
.family{
    position: absolute;
    top: 87px;
    right: 37px;
    font-size: 30px;
    white-space: nowrap;
}



/* バナーの部分 */
.text{
    margin-top: 340px;
    font-size: 40px;
    text-align: center;
}

.banner{
    display: flex;
}

.banner img{
    width: auto;
    height: 621px;
    display: block;
    object-fit: cover;
}
.text{
    font-size: 40px;
    text-align: center;
}

/* .banner{
    position: relative;
    width: 100vw;
    aspect-ratio: 4/3;
    max-height: 80vh;
    overflow: hidden;
}
.humPOP1,.icebanner{
    flex: 1;
    width: 38%;
}
.humPOP1{
    left: -18px;
}
.mobilebanner{
    left: 31%;
    width: 38%;
}
.mobilebanner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.icebanner{
    right: -18px;
}
.humPOP1,.icebanner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide{
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
} */
.button{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 20.4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
}

.container{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.bar{
    width: 13cm;
    height: 3px;
    background-color: #463f35;
}
.bar:nth-child(1){
    opacity: 1;
}
.bar:nth-child(n+2){
    opacity: 0.6;
}


/* WEBデザインの部分 */
.webdesign {
  justify-content: center;
  align-items: center;
}
.webdesign img{
    width: 100%;
    height: auto;
}

.cafeWEB{
    justify-content: center;
    align-items: center;
}
.cafeWEB img{
    width: 100%;
    height: auto;
}
