@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

img{
    max-width: 100%;
}


/* 背景 + Contact */
body {
  background-image: url('../image/backstar.png');
  background-color: rgba(255, 255, 255, 0.65);
  background-blend-mode: lighten;
  text-align: center;
  padding: 55px 0;
}

.title {
  font-size: 66px;
  color: #463f35;
  margin: 0;
}

.mailbox {
  font-size: 23px;
  color: #463f35;
  margin: 10px 0 30px 0;
}

.letter {
  width: 957px;
  /* height: 957px; */
}

/* ホワイトレース + 挨拶文 */
.greeting {
  position: relative;
  text-align: center;
  background-image: url(../image/whiterase.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  padding: 200px 0;
}

.lace {
  width: 1360px;
  height: 1728px;
  display: block;
  margin: 0 auto;
}

.text {
  top: -155px;
  width: 70%;
  left: 50%;
  font-size: 22px;
  line-height: 1.7;
  margin: 0 auto;
}


/* フォーム */
.form-section {
  text-align: center;
  padding: 30px 0;
}
.note {
  margin-bottom: 36px;
  font-size: 16px;
}

/* 入力欄共通 */
.input-text,
.input-area {
  display: block;
  margin: 10px auto 20px auto;
  width: 55%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0 20px;
  font-size: 15px;
  color: #000;
  opacity: 0.5;
  height: 65px;
  box-sizing: border-box;
  text-align: center;
}

.input-area {
  height: 130px;
  border-radius: 60px;
  padding-top: 10px;
}
textarea::placeholder{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 送信ボタン */
.submit-btn {
  width: 252px;
  height: 75px;
  border: 1px solid #ffffff;
  border-radius: 36px;
  background-color: #463f35;
  font-size: 20px;
  letter-spacing: 0.1em; 
  cursor: pointer;
  color: #ffffff;
  margin-top: 5%;
}



@media screen and (max-width: 767px){
 .greeting{
  background-image: url(../image/longwhiterase.png);
 }
.title{
  font-size: 30px;
}
.mailbox{
  font-size: 15px;
}
.letter{
  width: 340px;
}
.text{
  font-size: 12px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.note{
  font-size: 12px;
  /* position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%); */
}
.input-text{
  font-size: 12px;
}
.list{
  font-size: 15px;
}

.submit-btn{
  width: 155px;
  height: 51px;
  font-size: 14px;
}
.input-text{
  font-size: 12px;
  width: 60%;
}
.input-area{
  width: 60%;
  font-size: 12px;
  /* position: absolute; */
}


}