@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

img{
    max-width: 100%;
}


/* 背景 + Contact */
.hero {
  background-image: url('backstar.png') center/cover no-repeat;
  text-align: center;
  padding: 100px 0;
}

.title {
  font-size: 66px;
  color: #463f35;
  margin: 0;
}

.mailbox {
  font-size: 23px;
  color: #463f35;
  margin: 10px 0 30px 0;
}

.letter {
  width: 957px;
  /* height: 957px; */
}

/* ホワイトレース + 挨拶文 */
.greeting {
  position: relative;
  text-align: center;
}

.lace {
  width: 1360px;
  height: 1728px;
  display: block;
  margin: 0 auto;
}

.text {
  position: absolute;
  top: 320px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 22px;
  line-height: 1.7;
}


/* フォーム */
.form-section {
  text-align: center;
  padding: 57px 0;
}
.note {
  margin-bottom: 57px;
  font-size: 16px;
}

/* 入力欄共通 */
.input-text,
.input-area {
  display: block;
  margin: 10px auto 20px auto;
  width: 500px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0 20px;
  font-size: 15px;
  color: #000;
  opacity: 0.5;
  height: 65px;
  box-sizing: border-box;
  text-align: center;
}

.input-area {
  height: 130px;
  border-radius: 60px;
  padding-top: 10px;
}


/* 送信ボタン */
.submit-btn {
  width: 252px;
  height: 75px;
  border: 1px solid #ffffff;
  border-radius: 36px;
  background-color: #463f35;
  font-size: 20px;
  letter-spacing: 0.1em; 
  cursor: pointer;
  color: #ffffff;
}
