@charset "utf-8";

html,body{
    background-color: #f8f8f8;
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

img{
    max-width: 100%;
    vertical-align: bottom;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.alogo {
  max-width: 271px;
  width: 30%;
  
}
.logo img{
    left: 80px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.nav {
  display: flex;
  gap: 6ch; 
  position: absolute;
  top: 87px;
  right: 37px;
}

.nav a {
  font-size: 30px;
  text-decoration: none;
  color: #463f35;
}

.navhum{
    display: none;
}

/* タイトル */
.title {
  display: flex;
  align-items: center;
  gap: 470px;
  position: relative;
  top: 36px;
}

.aarrow {
  font-size: 60px;
  position: absolute;
  left: 20%;
  text-decoration: none;
  color: inherit;
}

.about {
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/* アバウトの部分 */
.image-wrap{
    /* position: relative; */
    /* display: inline-block; */
    max-width: 815px;
    width: 90%;
    margin-top: 10%;

}
/* .image-wrap .wing{
    display: block;
}

.image-wrap .bookme{
    position: absolute;
    top: 0;
    left: 0;
} */
/* .image-wrap p{
    position: absolute;
    top: 83%;
    left: 47%;
    color: white;
    transform: translateX(-50%);
} */

/* .wing{
    width: 941px;
    margin-top: 200px;
    text-align: left;
    margin-left: -40px;
}
.bookme{
    width: 1014px;
    margin-top: 100px;
    margin-left: -10px;
} */


.matomari{
    display: flex;
    align-items: center;
    justify-content: center;
}
.jyouhou {
    margin-top: 200px;
    font-size: 16px;
    line-height: 1.75;
    max-width: 200px;
    width: 80%;
}
.littlebig{
    font-size: 25px;
}

.that{
    margin-top: 10px;
}


/* ヒストリーの部分 */
.seiza img{
    mix-blend-mode: multiply;
    max-width: 452px;
}
.text{
    font-size: 21px;
    text-align: center;
    line-height: 2.2;
    padding: 30px;
}
.big{
    font-size: 26px;
    line-height: 1.8;
}
.seiza1 {
    text-align: right;
    margin-right: 20px;
}
.seiza2{
    margin-left: 20px;
}

/* スキルの部分 */
h2{
    text-align: center;
    font-size: 40px;
}
.subtitle{
    text-align: center;
    font-size: 16px;
}
.dia{
    width: 298px;
}
.four{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    text-align: center;
}
.dia{
    display: block;
    position: relative;
    margin: 0 auto;
}
.diaup{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.this{
    flex-direction: column;
}


/* コンタクトページのコード */
.blackribbonbox{
    text-align: center;
}


.present{
    position: relative;
    max-width: 957px;
    width: 80%;
    margin: 0 auto;
}
.pale1{
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 490px;
    width: 35%;
}

.pale2{
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    rotate: 180deg;
    max-width: 490px;
    width: 35%;
}


.contacttitle{
    font-size: 66px;
    margin-bottom: -2%;
}
.contacttext{
    font-size: 23px;
}

.contact h2{
    margin-top: 10%;
}


.br-sp{
    display: none;
}




@media screen and (max-width: 767px) {
     .nav{
        display: none;
    }
    .navhum{
        display: block;
        width: 50px;
        margin-right: 20px;
    }

    .about{
        font-size: 25px;
    }
    .arrow{
        font-size: 25px;
        /* margin-left: -100px; */
    }

    .matomari{
        flex-direction: column;
        text-align: center;
    }

    .text{
        font-size: 13px;
    }
    .big{
        font-size: 16px;
    }

    .jyouhou{
        margin-top: 77px;
    }

    .seiza1{
        max-width: 246px;
        width: 80%;
    }

    .seiza2{
        max-width: 246px;
        width: 80%;
        margin: 0 auto;
    }

    .seiza{
        margin: 0 auto;
    }

    h2{
        font-size: 20px;
    }
    .subtitle{
        font-size: 10px;
    }

    .four{
        /* flex-direction: column; */
        grid-template-columns: repeat(1,1fr);
    }

    .diaup{
        font-size: 13px;
    }

    .this{
        font-size: 12px;
    }

    .contacttitle{
    font-size: 30px;
    }
    .contacttext{
    font-size: 12px;
    }
    .text4{
        margin-bottom: 14px;
    }

    

    .image-wrap{
      margin-top: 90px;
      margin-bottom: -50px;
    }


}