@charset "utf-8";

body{
    background-image: url(../image/backstar.png);
}
background-container::before{
    opacity: 0.35;
}


html,body{
    margin: 0;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    color:#463f35;
    width: 100%;
    margin: 0;
    padding: 0;
     font-family:
    "Yu Gothic",
    "游ゴシック体",
    "YuGothic",
    "游ゴシック",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;

}

img{
    max-width: 100%;
}

.blackribbon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.blackribbon img{
    display: block;
    width: 100%;
    position: relative;
    z-index: 100;

}

.letterset{
    position: relative;
}
.letter{
    max-width: 1632px;
    display: block;
    text-align: center;
}
.inyouso{
    position: absolute;
    top: 41%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.inyouso img{
    text-align: center;
    width: 50%;
    max-width: 496px;
    margin-top: 45px;
    margin-left: -5%;
}


.inyouso p{
    font-size: 20px;
    line-height: 1.75;
    text-align: center;
    margin: 0 auto;
    margin-left: -33px;
}

.button{
    width: 170px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #463f35;
    border-radius: 24.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #463f35;
    white-space: pre;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 40px;
}